@import "tailwindcss";
@import "tw-animate-css";
@import "./typography.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-display: var(--font-display);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-brand-sm);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-3xl: var(--shadow-3xl);
}

:root {
  --radius: 0.625rem;

  --background: oklch(0.9788 0.0054 95.1);
  --foreground: oklch(0.1913 0.0133 196.09);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary: oklch(0.216 0.006 56.043);
  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary: oklch(0.97 0.001 106.424);
  --secondary-foreground: oklch(0.216 0.006 56.043);
  --muted: oklch(0.9636 0.0086 67.72);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent: oklch(0.97 0.001 106.424);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.554 0.0136 59.4 / 10%);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);

  --shadow-xs:
    0 2px 4px 0.5px color-mix(in oklab, var(--color-teal-950) 7%, transparent), 0 4px 8px -1.5px
    color-mix(in oklab, var(--color-teal-950) 6%, transparent);

  --shadow-brand-sm:
    0 0 0 1px color-mix(in oklab, var(--color-stone-500) 6%, transparent),
    0 1px 1px 0.5px color-mix(in oklab, var(--color-teal-950) 4%, transparent),
    0 3px 3px -1.5px color-mix(in oklab, var(--color-teal-950) 4%, transparent),
    0 6px 9px -4.5px color-mix(in oklab, var(--color-teal-950) 4%, transparent),
    0 12px 16px -8px color-mix(in oklab, var(--color-teal-950) 4%, transparent);

  --shadow-md:
    0 0 0 1px color-mix(in oklab, var(--color-stone-500) 10%, transparent),
    0 1px 1px -0.5px color-mix(in oklab, var(--color-teal-950) 6%, transparent),
    0 3px 3px -1.5px color-mix(in oklab, var(--color-teal-950) 4%, transparent),
    0 6px 6px -3px color-mix(in oklab, var(--color-teal-950) 4%, transparent),
    0 12px 12px -6px color-mix(in oklab, var(--color-teal-950) 4%, transparent),
    0 16px 16px -8px color-mix(in oklab, var(--color-teal-950) 4%, transparent),
    0 32px 32px -16px color-mix(in oklab, var(--color-teal-950) 2%, transparent);

  --shadow-lg:
    0 0 0 1px color-mix(in oklab, var(--color-stone-500) 10%, transparent),
    0 1px 1px -0.5px color-mix(in oklab, var(--color-teal-950) 8%, transparent),
    0 3px 3px -1.5px color-mix(in oklab, var(--color-teal-950) 6%, transparent),
    0 6px 6px -3px color-mix(in oklab, var(--color-teal-950) 6%, transparent),
    0 12px 12px -6px color-mix(in oklab, var(--color-teal-950) 6%, transparent),
    0 16px 16px -8px color-mix(in oklab, var(--color-teal-950) 6%, transparent),
    0 32px 32px -16px color-mix(in oklab, var(--color-teal-950) 4%, transparent),
    0 48px 48px -24px color-mix(in oklab, var(--color-teal-950) 4%, transparent),
    0 64px 64px -32px color-mix(in oklab, var(--color-teal-950) 4%, transparent);

  --shadow-2xl:
    0 0 0 1px color-mix(in oklab, var(--color-stone-500) 10%, transparent),
    0 5px 10px -5px color-mix(in oklab, var(--color-teal-950) 25%, transparent),
    0 18px 18px -9px color-mix(in oklab, var(--color-teal-950) 20%, transparent),
    0 40px 24px -12px color-mix(in oklab, var(--color-teal-950) 15%, transparent),
    0 70px 30px -15px color-mix(in oklab, var(--color-teal-950) 5%, transparent),
    0 114px 32px -16px color-mix(in oklab, var(--color-teal-950) 0%, transparent);

  --shadow-3xl:
    0 6px 12px -2px color-mix(in oklab, var(--color-teal-950) 48%, transparent),
    0 22px 22px -4px color-mix(in oklab, var(--color-teal-950) 42%, transparent),
    0 52px 30px -6px color-mix(in oklab, var(--color-teal-950) 25%, transparent),
    0 93px 38px -7px color-mix(in oklab, var(--color-teal-950) 7%, transparent),
    0 145px 40px -10px color-mix(in oklab, var(--color-teal-950) 1%, transparent);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 0;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--background);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 999px;
    box-shadow: inset 0 0 0 1px var(--background);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-500);
  }

  /* Handle on active */
  ::-webkit-scrollbar-thumb:active {
    background: var(--primary-600);
  }
}

@layer components {
  .card:hover {
    transform: perspective(1200px) translateZ(48px);
    z-index: 1;
  }

  .gradient-blur {
    position: fixed;
    z-index: 5;
    inset: 0 0 auto 0;
    height: 10%;
    pointer-events: none;
  }
  .gradient-blur > div,
  .gradient-blur::before,
  .gradient-blur::after {
    position: absolute;
    inset: 0;
  }
  .gradient-blur::before {
    content: "";
    z-index: 1;
    backdrop-filter: blur(0.5px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 12.5%,
      rgba(0, 0, 0, 1) 25%,
      rgba(0, 0, 0, 0) 37.5%
    );
  }
  .gradient-blur > div:nth-of-type(1) {
    z-index: 2;
    backdrop-filter: blur(1px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 12.5%,
      rgba(0, 0, 0, 1) 25%,
      rgba(0, 0, 0, 1) 37.5%,
      rgba(0, 0, 0, 0) 50%
    );
  }
  .gradient-blur > div:nth-of-type(2) {
    z-index: 3;
    backdrop-filter: blur(2px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 1) 37.5%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 62.5%
    );
  }
  .gradient-blur > div:nth-of-type(3) {
    z-index: 4;
    backdrop-filter: blur(4px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 37.5%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 62.5%,
      rgba(0, 0, 0, 0) 75%
    );
  }
  .gradient-blur > div:nth-of-type(4) {
    z-index: 5;
    backdrop-filter: blur(8px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 1) 62.5%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 0) 87.5%
    );
  }
  .gradient-blur > div:nth-of-type(5) {
    z-index: 6;
    backdrop-filter: blur(16px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 62.5%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 1) 87.5%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .gradient-blur > div:nth-of-type(6) {
    z-index: 7;
    backdrop-filter: blur(32px);
    mask: linear-gradient(to top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 87.5%, rgba(0, 0, 0, 1) 100%);
  }
  .gradient-blur::after {
    content: "";
    z-index: 8;
    backdrop-filter: blur(64px);
    mask: linear-gradient(to top, rgba(0, 0, 0, 0) 87.5%, rgba(0, 0, 0, 1) 100%);
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @media (width >= 64rem /* 1024px */) {
    padding-inline: 1rem;
    max-width: 68rem;
  }

  @media (width >= 80rem /* 1280px */) {
    padding-inline: 1.5rem;
    max-width: 82rem;
  }
  @media (width >= 96rem /* 1536px */) {
    padding-inline: 2rem;
    max-width: 98rem;
  }
}
